In [11]:
# add the py-helper modules path for import
import sys
import os

root = os.path.expanduser('~') 
sys.path.insert(1, f'{root}/Projects/py-helper')

In [43]:
import file_system as fs
import metadata as md
import pandas as pd
import simplejson as json
from IPython.display import display, HTML

In [22]:
def check_contents(data_path, msg_on=True):
    # if an archive is provide then get the list of files within the archive
    if data_path[-3:] == "zip":
        content, m = fs.inspect_zip(data_path)
        if msg_on:
            print (data_path)
            # give the list of files contents in the archive
            for f in content:
                print(f'  {f}')

In [23]:
# source files
zips = (f'{root}/Downloads/14100312-eng.zip'
         , f'{root}/Downloads/14100092-eng.zip'
         , f'{root}/Downloads/14100090-eng.zip')

In [26]:
# inspect the contents of the zip files
for z in zips:
    # contents of the zip file, list out the files and extract
    check_contents(z)
    msg = fs.extract_files(z)
    print (msg)
    print ('-----------------------------------------------------------------------------------------')

/Users/sean/Downloads/14100312-eng.zip
  <ZipInfo filename='14100312.csv' compress_type=deflate file_size=13686298 compress_size=914520>
  <ZipInfo filename='14100312_MetaData.csv' compress_type=deflate file_size=11574 compress_size=4295>
Message: extract_files | file(s) successfully extracted from 14100312-eng.zip
-----------------------------------------------------------------------------------------
/Users/sean/Downloads/14100092-eng.zip
  <ZipInfo filename='14100092.csv' compress_type=deflate file_size=4452993 compress_size=363931>
  <ZipInfo filename='14100092_MetaData.csv' compress_type=deflate file_size=8991 compress_size=3648>
Message: extract_files | file(s) successfully extracted from 14100092-eng.zip
-----------------------------------------------------------------------------------------
/Users/sean/Downloads/14100090-eng.zip
  <ZipInfo filename='14100090.csv' compress_type=deflate file_size=2106620 compress_size=212313>
  <ZipInfo filename='14100090_MetaData.csv' compress_type=deflate file_size=11927 compress_size=4315>
Message: extract_files | file(s) successfully extracted from 14100090-eng.zip
-----------------------------------------------------------------------------------------

In [44]:
files = (f'{root}/Downloads/14100312.csv'
         , f'{root}/Downloads/14100092.csv'
         , f'{root}/Downloads/14100090.csv')

for f in files:
    data = pd.read_csv(f)
    display(HTML(data.head(5).to_html()))
    meta_dict, m = md.generate_meta_table(data, f)
    print(f'Created metadata for {f}')
    f_name = f.split('/')[-1][:-4]
    meta_out = os.path.realpath(f"../data/{f_name}-meta.json")
    #with open(meta_out, 'w') as out:
    #    json.dump(meta_dict, out, ignore_nan=True, indent='  ')
    print(f'The metadata json object has been output to: {meta_out}')
    print ('-----------------------------------------------------------------------------------------')

Created metadata for /Users/sean/Downloads/14100312.csv
The metadata json object has been output to: /Users/sean/Projects/pycaret-exploration/data/14100312-meta.json
-----------------------------------------------------------------------------------------

Created metadata for /Users/sean/Downloads/14100092.csv
The metadata json object has been output to: /Users/sean/Projects/pycaret-exploration/data/14100092-meta.json
-----------------------------------------------------------------------------------------

Created metadata for /Users/sean/Downloads/14100090.csv
The metadata json object has been output to: /Users/sean/Projects/pycaret-exploration/data/14100090-meta.json
-----------------------------------------------------------------------------------------